/* Contenedor principal de todas las imagenes a ser mostradas */
.main_content {
    padding-top: 10.5rem;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Subcontenedor principal de todas las imagenes a ser mostradas */
.main_content_grid {
    padding: 0 1rem;
    width: 100%;
    display: grid;
    grid-template-columns: repeat( auto-fit, minmax(200px, 1fr) );
    gap: 1.5rem;
}

@media ( max-width: 1200px ){
    .main_content {
        padding-top: 14rem;
    }
}