.main_content {
    padding-top: 10.5rem;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main_content_grid {
    width: 100%;
    display: grid;
    grid-template-columns: repeat( auto-fit, minmax(200px, 1fr)  );
    gap: 1.5rem;
}

@media ( max-width: 992px ){
    .main_content {
        padding-top: 14rem;
    }
}