/* Tarjeta */
.content_image {
    position: relative;
    height: 100%;
    width: 100%;
    color: white;
    border-radius: 1rem;
    box-shadow: 5px 5px 8px 1px rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.5);
}

.content_image h5{
    margin: 0.5rem;
}

.content_image img {
    border-radius: 1rem 1rem 0 0;
    width: 100%;
    height: 18rem;
    max-width: 100%;
    aspect-ratio: 1;
    object-fit: cover;
    object-position: center center;
}

/* Boton de descarga */
.downloadImg {
    position:absolute;
    top: 0.7rem;
    right: 0.7rem;
    font-size: 0.8rem;
    font-weight: bold;
    height: fit-content;
    width: fit-content;
    padding: 0.1rem 0.4rem;
    border: 1px solid white;
    background-color: gray;
    box-shadow: 1px 1px 1px gray;
    text-shadow: 1px 1px 1px gray;
    border-radius: 1rem;
    cursor: pointer;
    transition: 0.3s ease-in;
}

.downloadImg:hover {
    transform: scale(1.15);
    border: 1px solid gray;
    color: black;
    background-color: rgba(255, 205, 98, 0.911);
    box-shadow: 1px 1px 1px gray;
    text-shadow: 1px 1px 1px gray;
    animation: arrowDown 0.5s infinite;
}

/* Contenedor de datos de la tarjeta */
.visibility {
    font-size: 1.1rem;
    padding: 0 0.5rem 0.5rem 0.5rem;
    display: block;
    transition: 0.5s ease-in;
    transform: translateZ(20px);
}

.visibility hr {
    width: 94%;
}

/* Descripcion de la imagen */
.description {
    margin: 0.5rem;
    font-size: 0.7rem;
    color: rgba(163, 241, 215, 0.8);
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.8);
}

/* Descripcion del dato a mostrar */
.descrip {
    font-weight: 100;
    font-size: 0.75rem;
}

.containerTopics {
    padding-top: 0.5rem;
}

.topic {
    margin-left: 0.5rem; 
}

/* Link del Topic */
.link {
    font-size: 0.9rem;
    text-decoration: none;
    color: black;
    background-color: rgb(173, 173, 173);
    border-radius: 3px;
    padding: 0.02rem 0.2rem;
    margin-left: 0.2rem;
    transition: 0.2s ease-in;
}

.link:hover {
    text-shadow: 0 0 0.7px black;
    background-color: white;
}

@keyframes arrowDown{
    0% {
        top: 0.5rem;
    }
    100% {
        top: 0.2rem;
    }
}